<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
</head>
<body>
    <iframe height="500" width="50%" src="https://sslcharts.investing.com/index.php?force_lang=1&pair_ID=1&timescale=300&candles=50&style=candles"></iframe><br /><div style="width:500px"><a target="_blank" href="https://www.investing.com"><img src="https://wmt-invdn-com.investing.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:left" border="0"/></a><span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;">Forex Charts powered by <a href="https://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></span></div></html>