<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h3>Signup</h3>
    <form action="" method="post">
        <label for="">Email</label>
        <br>
        <input type="text" name="email">
        <br>
        <label for="">Password</label>
        <br>
        <input type="password" name="password">
        <br>
        <input type="submit" value="signup">
    </form>
    <script>
        document.querySelector('form').onsubmit = async(e)=>{
            e.preventDefault()
            const email = e.target.email.value;
            const password = e.target.password.value;
            const res = await fetch('/auth/signup',{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({email,password})
            })
            if (res.ok) window.location.href = '/'
            else {
                const {error} = await res.json()
                alert(error)
            }
        }
    </script>
</body>
</html>